header {
  width: 100vw;
  height: 142px;
  background-color: #000000;
  margin-top: 0;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
}

.links {
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    letter-spacing: 0em;
    text-align: center;
    list-style-type: none;
    color: #FFFFFF;
    padding-left: 20px;
  }
  
.links:hover {
    color: #D8F2B8;
  }