.Home-btn {
    border-radius: 40px;
    padding: 1rem 2rem;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 40px;
    margin-bottom: 40px;
  }
  
  .Home-btn:hover {
    background-color:  #D8F2B8;
  }